<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Articles
    </h1>

    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ul>

  </div>
  <%= link_to "New Article", new_article_path %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
</div>



